/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@page {size:100mm 148mm; margin:0; padding:0;}

body {margin: 0; padding:0;}

.sheet {
  width:100mm; height:148mm;
  margin: 0;
  padding:0;
  position: relative;
  page-break-after: always;
}

p{
  margin:0;
  padding:0;
}

.zip {
  font-size:12pt;
  margin:0;
  padding:0;
  position:absolute; top:14mm; left:46mm;
  letter-spacing: 4.4mm;
}

.address {
  font-size:14pt;
  margin-left:0px;
  padding-top:0px;
  line-height:1.5em;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-text-orientation: upright;
  position:absolute; top:30mm; right:10mm;
}

.name {
  font-size:22pt;
  letter-spacing: 0.1em;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateY(-10%) translateX(-50%);
  transform: translateY(-10%) translateX(-50%);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-text-orientation: upright;
}

@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm;
  }
}

@media print {
  body {
    width:100mm; height:148mm;
  }
}
